@import "../node_modules/bootstrap/dist/css/bootstrap.css";

$text-color: #afafaf;
$btn-color: #38bfb2;
$text-color-secondary: #ffffff;
$menu-color: #4ccfc1;
$border-color: #e1e1e1;

@mixin flexAligh($hor: center, $vert: center, $pos: row) {
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin myfont($color: black, $size: 16px) {
    color: $color;
    font-size: $size;
}

body {
    font-family: "Bebas Neue", cursive;
}

.meny {
    @include flexAligh( );
    display: none;



    @media screen and(max-width: 768px) {
        display: flex;
    }
        

    &__container {
        min-width: 40px;
        height: 40px;
        border-radius: 6px;
        border:  2px solid $btn-color;
        @include flexAligh( );

        &-line {
        width: 30px;
        height: 3px;
        // background-color: $btn-color ;
        border-bottom: 2px solid $btn-color;
        position: relative;
        transition: 0.4s;

        &::after {
        content:'';
        width: 30px;
        height: 3px;
        // background-color:$btn-color ;
        border-bottom: 2px solid $btn-color;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 0.4s;

        }
        &::before {
            content:'';
            width: 30px;
            height: 3px;
            // background-color:$btn-color ;
            border-bottom: 2px solid $btn-color;
            position: absolute;
            top: -7px;
            left: 0;
            transition: 0.4s;

        }
    }
   }

   .checkbox {
       display: none;
   }
 }



.header {
    height: 84px;

    .logo {
        @include flexAligh();

        img {
            width: 105px;
        }
    }

    .search {
        width: 100%;
        height: 100%;
        @include flexAligh();
        position: relative;

        @media screen and(max-width: 768px) {
            display: none;
        }

        &__input {
            width: 100%;
            outline: none; /* отключает выделение элементов которые взаимодействуют с пользователем*/
            border: 1px solid $border-color;
            height: 30px;
        }

        &__img {
            position: absolute;
            right: 10px;
            width: 20px;
        }
    }
}

.cart {
    width: 100%;
    height: 100%;
    @include flexAligh(space-between);
    padding: 0 20px;
    box-sizing: border-box;
    @include myfont($text-color, 33px);


    @media screen and(max-width: 768px) {
        display: none;
    }
}

.links {
    background-color: $menu-color;
    @include myfont($text-color-secondary, 21px);
    text-transform: uppercase;



    @media screen and(max-width: 767px) {
        display: none;
    }

    &__block {
        height: 35px;
        padding: 0 15px;
        box-sizing: border-box;
        @include flexAligh(space-between);


        @media screen  and(max-width: 1200px){
            height: 70px;
            justify-content: center;
        }

        &-item {
            padding: 3px 20px 0 20px;
            color: $text-color-secondary;
            transition: .4s;
            @include flexAligh( );



            &:hover {
                text-decoration: none;

            }

        }
    }
}


.checkbox:checked + .meny__container > .meny__container-line {
border-color: transparent;

&::after {
    top: 0;
    transform: rotate(-45deg);
}

&::before {
    top: 0;
    transform: rotate(45deg);
}


} 


.slider {
    background-color: $btn-color;


    &__image {
        @include flexAligh( );
        height: 445px;
    }


    &__info {
        @include flexAligh($vert: flex-start, $pos: column);
        height: 445px;
        color: $text-color-secondary;


        &-title {
            text-transform: uppercase;
            font-size: 61px;
            line-height: 60px;
            margin-bottom: 28px;
        }


        &-text {
            text-transform: unset;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 28px;


        }



        &-button {
            width: 140px;
            height: 46px;
            border: 3px solid $text-color-secondary;
            border-radius: 6px;
            box-sizing: border-box;
            @include flexAligh();
            font-size: 27px;
            cursor: pointer;
            padding-top: 2px;
            transition: .4s;
            position: relative;


            &::after {
                content: '';
                width: 140px;
                height: 46px;
                position: absolute;
                border: 3px solid transparent;
                left: 0;
                top:0 ;
                border-radius: 6px;
                transition: .4s;

            }

            &:hover {
                // transform: scale(1.1);
                border: 3px solid transparent;

                &::after {
                    width: 150px;
                    height: 60px;
                    border: 3px solid $text-color-secondary;
                    left:-7px ;
                    top: -10px ;

                }

            }
        }
    }

}

.goods {



    &__line {
        height: 190px;
        box-shadow: 0 4px 7px -3px rgba(0,0,0, .4);


        @media screen and(max-width: 1250px) {
            height: auto;
            align-items: center;
            
        }

        .container {
            width: auto;
        }


        .arrow {
            height: 100%;
            @include flexAligh( );
            cursor: pointer;
            // transform: rotate(180deg); 
            

            &_right {
            transform: rotate(180deg);


            @media screen and(max-width:336px) {
                display: none;
                 
             }
        }

          
        }

        
      

        .items {
            @include flexAligh(space-between);
            height: 190px;
            width: 100%;


            @media screen and(max-width: 1241px) {
                height: auto;
                flex-direction: column;
                
            }

            &__elem {
                width: 100%;
                border-right: 1px solid $border-color;
                @include flexAligh( );
                height: 100%;

                @media screen and(max-width: 1243px) {
                   border-right: none;
                   margin-bottom: 20px;
                    
                }

                @media screen and(max-width: 423px) {
                  flex-direction: column;
                     
                 }


                & :last-child {
                    border-right: none;
                }

                .mrg {
                     margin-left: 70px;
                     
                     
                     @media screen and(max-width: 1241px) {
                       margin-left: 0;
                         
                     }
                }

                &-info {
                    font-size: 27px;
                    color: $text-color;
                    line-height: 27px;

                  


               
                }


            }
        }
    }
}

.btn {
    // width: 59px;
    height:32px ;
    background-color:$btn-color;
    color:$text-color-secondary;
    font-size: 19px;
    @include flexAligh( );
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}


.products-header {
    background-color: $btn-color;


    &__title {
        @include myfont($text-color-secondary,31px );// цвет,размер текста  
        text-transform: uppercase;
        @include flexAligh(flex-start);
        height: 67px;
    }
}


.products {
    padding:48px 0 28px 0;//вверх, справа, снизу, слева


    &__item {
        width: 100%;
        height: 262px;
        border: 1px solid $border-color;
        border-radius: 2px;
        border-bottom: 5px solid $btn-color;
        box-sizing: border-box;
        @include flexAligh($pos: column);
        @include myfont($text-color, 27px);
        margin-bottom: 47px;


        &-title {
            margin:5px 0 12px 0;
            // display: block;//делат из сточного блочный 
            // width: 70px;//для срабатываия свойств ниже надо указать гирину блока обязательно!!!
            // overflow: hidden;// скрывает контент который не влез в ширину заданную
            // white-space: nowrap;// звпрет на перенос строк
            // text-overflow: ellipsis;// тоеточие в тексте которыц не влез в заданную ширину
        }

        &-info {
         @include flexAligh( );


         .cost {
             margin-right: 14px;
         }


         .btn {
             margin-top: 0;
         }

        }
    }
}


.footer {
    background-color: $menu-color;
    padding-bottom: 41px;
     


    &__title {
        display: block;
        @include myfont($text-color-secondary, 27px);
        padding: 42px 0 27px 0;

    }


    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin-bottom: 16px;


            &:last-child {//работа с последним элементом
                margin-bottom: 0;
            }


            a {
                font-family: 'Open Sans', sans-serif;
                @include myfont($text-color-secondary,15px );
            }
        }
    }

}

.copyright {
    height: 46px;
    background-color:#2da89b;
    @include myfont($text-color-secondary,15px );
    font-family: 'Open Sans', sans-serif;
    @include flexAligh( );
}