@charset "UTF-8";
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  font-family: "Bebas Neue", cursive; }

.meny {
  /*горизонталь, вертикаль, флекс дорекшен*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none; }
  @media screen and (max-width: 768px) {
    .meny {
      display: flex; } }
  .meny__container {
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #38bfb2;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .meny__container-line {
      width: 30px;
      height: 3px;
      border-bottom: 2px solid #38bfb2;
      position: relative;
      transition: 0.4s; }
      .meny__container-line::after {
        content: '';
        width: 30px;
        height: 3px;
        border-bottom: 2px solid #38bfb2;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 0.4s; }
      .meny__container-line::before {
        content: '';
        width: 30px;
        height: 3px;
        border-bottom: 2px solid #38bfb2;
        position: absolute;
        top: -7px;
        left: 0;
        transition: 0.4s; }
  .meny .checkbox {
    display: none; }

.header {
  height: 84px; }
  .header .logo {
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .header .logo img {
      width: 105px; }
  .header .search {
    width: 100%;
    height: 100%;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative; }
    @media screen and (max-width: 768px) {
      .header .search {
        display: none; } }
    .header .search__input {
      width: 100%;
      outline: none;
      /* отключает выделение элементов которые взаимодействуют с пользователем*/
      border: 1px solid #e1e1e1;
      height: 30px; }
    .header .search__img {
      position: absolute;
      right: 10px;
      width: 20px; }

.cart {
  width: 100%;
  height: 100%;
  /*горизонталь, вертикаль, флекс дорекшен*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  box-sizing: border-box;
  color: #afafaf;
  font-size: 33px; }
  @media screen and (max-width: 768px) {
    .cart {
      display: none; } }

.links {
  background-color: #4ccfc1;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .links {
      display: none; } }
  .links__block {
    height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    @media screen and (max-width: 1200px) {
      .links__block {
        height: 70px;
        justify-content: center; } }
    .links__block-item {
      padding: 3px 20px 0 20px;
      color: #ffffff;
      transition: .4s;
      /*горизонталь, вертикаль, флекс дорекшен*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .links__block-item:hover {
        text-decoration: none; }

.checkbox:checked + .meny__container > .meny__container-line {
  border-color: transparent; }
  .checkbox:checked + .meny__container > .meny__container-line::after {
    top: 0;
    transform: rotate(-45deg); }
  .checkbox:checked + .meny__container > .meny__container-line::before {
    top: 0;
    transform: rotate(45deg); }

.slider {
  background-color: #38bfb2; }
  .slider__image {
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 445px; }
  .slider__info {
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 445px;
    color: #ffffff; }
    .slider__info-title {
      text-transform: uppercase;
      font-size: 61px;
      line-height: 60px;
      margin-bottom: 28px; }
    .slider__info-text {
      text-transform: unset;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 28px; }
    .slider__info-button {
      width: 140px;
      height: 46px;
      border: 3px solid #ffffff;
      border-radius: 6px;
      box-sizing: border-box;
      /*горизонталь, вертикаль, флекс дорекшен*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 27px;
      cursor: pointer;
      padding-top: 2px;
      transition: .4s;
      position: relative; }
      .slider__info-button::after {
        content: '';
        width: 140px;
        height: 46px;
        position: absolute;
        border: 3px solid transparent;
        left: 0;
        top: 0;
        border-radius: 6px;
        transition: .4s; }
      .slider__info-button:hover {
        border: 3px solid transparent; }
        .slider__info-button:hover::after {
          width: 150px;
          height: 60px;
          border: 3px solid #ffffff;
          left: -7px;
          top: -10px; }

.goods__line {
  height: 190px;
  box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 1250px) {
    .goods__line {
      height: auto;
      align-items: center; } }
  .goods__line .container {
    width: auto; }
  .goods__line .arrow {
    height: 100%;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer; }
    .goods__line .arrow_right {
      transform: rotate(180deg); }
      @media screen and (max-width: 336px) {
        .goods__line .arrow_right {
          display: none; } }
  .goods__line .items {
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 190px;
    width: 100%; }
    @media screen and (max-width: 1241px) {
      .goods__line .items {
        height: auto;
        flex-direction: column; } }
    .goods__line .items__elem {
      width: 100%;
      border-right: 1px solid #e1e1e1;
      /*горизонталь, вертикаль, флекс дорекшен*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%; }
      @media screen and (max-width: 1243px) {
        .goods__line .items__elem {
          border-right: none;
          margin-bottom: 20px; } }
      @media screen and (max-width: 423px) {
        .goods__line .items__elem {
          flex-direction: column; } }
      .goods__line .items__elem :last-child {
        border-right: none; }
      .goods__line .items__elem .mrg {
        margin-left: 70px; }
        @media screen and (max-width: 1241px) {
          .goods__line .items__elem .mrg {
            margin-left: 0; } }
      .goods__line .items__elem-info {
        font-size: 27px;
        color: #afafaf;
        line-height: 27px; }

.btn {
  height: 32px;
  background-color: #38bfb2;
  color: #ffffff;
  font-size: 19px;
  /*горизонталь, вертикаль, флекс дорекшен*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer; }

.products-header {
  background-color: #38bfb2; }
  .products-header__title {
    color: #ffffff;
    font-size: 31px;
    text-transform: uppercase;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 67px; }

.products {
  padding: 48px 0 28px 0; }
  .products__item {
    width: 100%;
    height: 262px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    border-bottom: 5px solid #38bfb2;
    box-sizing: border-box;
    /*горизонталь, вертикаль, флекс дорекшен*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #afafaf;
    font-size: 27px;
    margin-bottom: 47px; }
    .products__item-title {
      margin: 5px 0 12px 0; }
    .products__item-info {
      /*горизонталь, вертикаль, флекс дорекшен*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .products__item-info .cost {
        margin-right: 14px; }
      .products__item-info .btn {
        margin-top: 0; }

.footer {
  background-color: #4ccfc1;
  padding-bottom: 41px; }
  .footer__title {
    display: block;
    color: #ffffff;
    font-size: 27px;
    padding: 42px 0 27px 0; }
  .footer ul {
    list-style-type: none;
    padding-left: 0; }
    .footer ul li {
      margin-bottom: 16px; }
      .footer ul li:last-child {
        margin-bottom: 0; }
      .footer ul li a {
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        font-size: 15px; }

.copyright {
  height: 46px;
  background-color: #2da89b;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  /*горизонталь, вертикаль, флекс дорекшен*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
